
/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
    font-size: 0;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}


/* global */
#container_dc {
	position: absolute;
	width: 300px;
	height: 250px;
	top: 0px;
	left: 0px;
	
	margin: auto;
	overflow:hidden;
}
#content_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #e49fba;
	overflow:hidden;
}

#bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #e49fba;
	overflow:hidden;
}

#bgFade {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9994;
	background-color: white;
}
#border_div {
	width: 298px;
	height: 248px;
	top: 0px;
	left: 0px;
	border:1px solid #000;
}
.full_div{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

#anim_container{
	background: #ecbabb;	
}
#img_olive_container{
    left: 123px;
    top: 58px;
	width:50px;
	height:65px;
}
#img_olive{
    left: 0px;
    top: 0px;
	width:50px;
	height:65px;
}

#img_flag_container{
    left: 166px;
    top: 81px;
	width:35px;
	height:40px;
}

#img_flag{
    left: 0px;
    top: 0px;
	width:35px;
	height:40px;
}

#bg2{
	background: #163179;	
}

#scrub_bar{

}



/* Invisible button for background clickthrough. */
#background_exit_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	background-color:transparent;
	z-index: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

